<!DOCTYPE html>
<!-- This is the Layout file! -->
<html>
  <head>
    <title>Freespace</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script> <!-- icons -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <br/>

  <%= render "layouts/header" %>

  <%= render "layouts/alerts" %>

  <div id="main-content" class="row full-min-height">
    <%= yield %>
  </div>

  <footer class="row">
      <div class="large-12 columns">
      <hr> <p><i class="fas fa-copyright"></i> Freespace Collective<br>
      Built and designed by Erav with <i class="fas fa-heartbeat" style="color:red;"></i> and <i class="fas fa-coffee"></i></p>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
  </body>
</html>
